.brillo {
    filter: brightness(50%);
}

.btn-primary {
    padding: .5px 3px;
    font-size: 1.3ch;
    font-weight: bold;
}

.js-btn {
    background-color: rgb(254, 193, 7);
    border-color: rgb(254, 193, 7);
    color: black;
}

.bn-btn {
    background-color: rgb(108, 117, 126);
    border-color: rgb(108, 117, 126);
}

.su-btn {
    background-color: rgb(220, 53, 70);
    border-color: rgb(220, 53, 70);
}

.card {
    width: 18rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: small;
}

.fondoOscuro {
    background-color: rgb(53, 58, 64);
}

.env-btm {
    background-color: rgb(150, 201, 62);
    border: none;
}

footer {
    background-color: rgb(29, 57, 71);
}
