.brillo {
    filter: brightness(50%);
}

.card {
    width: 18rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: small;
}

.fondoOscuro {
    background-color: rgb(53, 58, 64);
}

.env-btm {
    background-color: rgb(150, 201, 62);
    border: none;
}

footer {
    background-color: rgb(29, 57, 71);
}